In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
housing = pd.read_csv("C:/Users/YASH/housing.csv")

In [3]:
housing.head()

,Unnamed: 0,venture,price,Emi,marketed,location,no_beds,possession_date,Avg
0,0,Provident Manhattan Pods And Condos,₹26.49 L - 42.49 L,EMI starts at ₹14.03 K,By Provident Housing Limited,"Premavathi Pet,West Hyderabad,Hyderabad","1 RK, 1 BHK Flats for sale in Premavathi Pet","Oct, 2021","Possession StartsOct, 2021"
1,1,Giridhari Prospera County,₹6.65 Cr - 7.25 Cr,EMI starts at ₹3.30 Lacs,By Giridhari Constructions,"Kismatpur,West Hyderabad,Hyderabad","4 BHK Villa, Triplex for sale in Kismatpur","Dec, 2023","Possession StartsDec, 2023Avg. Price₹14.00 K/s..."
2,2,Aspirealty Advaith,₹36.01 L - 52.51 L,EMI starts at ₹19.07 K,By Aspirealty,"Lemoor,South Hyderabad,Hyderabad",Residential Plots for sale in Lemoor,"Oct, 2022","Possession StartsOct, 2022Avg. Price₹15.00 K/s..."
3,3,Om Sree Brilliance,₹1.24 Cr - 1.28 Cr,EMI starts at ₹61.33 K,By Om Sree Builders And Developers,"Sainikpuri, Hyderabad",3 BHK Flat for sale in Yapral,"Jun, 2023","Possession StartsJun, 2023Avg. Price₹5.80 K/sq.ft"
4,4,Sree Nivasam,₹20.59 L - 47.54 L,EMI starts at ₹10.90 K,Marketed by Kautilya homes,"Piglipur,South Hyderabad,Hyderabad",Residential Plots for sale in Piglipur,"Jul, 2022","Possession StartsJul, 2022Avg. Price₹13.99 K/s..."

In [4]:
housing['Emi']

0         EMI starts at ₹14.03 K
1       EMI starts at ₹3.30 Lacs
2         EMI starts at ₹19.07 K
3         EMI starts at ₹61.33 K
4         EMI starts at ₹10.90 K
                  ...
1661      EMI starts at ₹36.70 K
1662      EMI starts at ₹32.32 K
1663      EMI starts at ₹27.80 K
1664      EMI starts at ₹30.45 K
1665      EMI starts at ₹26.44 K
Name: Emi, Length: 1666, dtype: object

In [9]:
import re

In [10]:
re1=re.compile(r'₹.*')

In [11]:
re1.findall(housing['Emi'][0])

['₹14.03 K']

In [12]:
emi =  []              #Emi column need to be appended
for i in housing['Emi']:
    if type(i)!=float:
        emi.append(re1.findall(i))
    else:
        emi.append("NA")
len(emi)

1666

In [13]:
housing['Emi'].unique()

array(['EMI starts at ₹14.03 K', 'EMI starts at ₹3.30 Lacs',
       'EMI starts at ₹19.07 K', 'EMI starts at ₹61.33 K',
       'EMI starts at ₹10.90 K', 'EMI starts at ₹44.37 K',
       'EMI starts at ₹15.92 K', 'EMI starts at ₹38.38 K',
       'EMI starts at ₹1.39 Lacs', 'EMI starts at ₹21.78 K',
       'EMI starts at ₹28.36 K', 'EMI starts at ₹26.24 K',
       'EMI starts at ₹1.24 Lacs', 'EMI starts at ₹59.61 K',
       'EMI starts at ₹1.17 Lacs', 'EMI starts at ₹47.66 K',
       'EMI starts at ₹19.06 K', 'EMI starts at ₹42.75 K',
       'EMI starts at ₹58.90 K', 'EMI starts at ₹56.74 K',
       'EMI starts at ₹33.74 K', 'EMI starts at ₹33.76 K',
       'EMI starts at ₹21.23 K', 'EMI starts at ₹73.48 K',
       'EMI starts at ₹13.97 K', 'EMI starts at ₹89.36 K',
       'EMI starts at ₹32.85 K', 'EMI starts at ₹37.22 K',
       'EMI starts at ₹31.45 K', 'EMI starts at ₹19.74 K',
       'EMI starts at ₹91.11 K', 'EMI starts at ₹30.98 K',
       'EMI starts at ₹38.64 K', 'EMI starts at ₹22.24 K',
       'EMI starts at ₹9.53 K', 'EMI starts at ₹37.60 K',
       'EMI starts at ₹46.67 K', 'EMI starts at ₹40.69 K',
       'EMI starts at ₹59.58 K', 'EMI starts at ₹25.95 K',
       'EMI starts at ₹27.01 K', 'EMI starts at ₹9.74 K',
       'EMI starts at ₹6.75 K', 'EMI starts at ₹31.52 K',
       'EMI starts at ₹10.59 K', 'EMI starts at ₹7.01 K',
       'EMI starts at ₹31.77 K', 'EMI starts at ₹24.36 K',
       'EMI starts at ₹49.65 K', 'EMI starts at ₹7.94 K',
       'EMI starts at ₹84.40 K', 'EMI starts at ₹8.47 K',
       'EMI starts at ₹39.22 K', 'EMI starts at ₹71.99 K',
       'EMI starts at ₹1.20 Lacs', 'EMI starts at ₹56.75 K',
       'EMI starts at ₹32.91 K', 'EMI starts at ₹44.68 K',
       'EMI starts at ₹1.74 Lacs', 'EMI starts at ₹43.19 K',
       'EMI starts at ₹1.49 Lacs', 'EMI starts at ₹32.83 K',
       'EMI starts at ₹81.92 K', 'EMI starts at ₹1.91 Lacs',
       'EMI starts at ₹36.01 K', 'EMI starts at ₹82.91 K',
       'EMI starts at ₹16.95 K', 'EMI starts at ₹26.21 K',
       'EMI starts at ₹9.93 K', 'EMI starts at ₹16.97 K',
       'EMI starts at ₹19.79 K', 'EMI starts at ₹35.71 K',
       'EMI starts at ₹26.69 K', 'EMI starts at ₹12.81 K',
       'EMI starts at ₹99.29 K', 'EMI starts at ₹41.70 K',
       'EMI starts at ₹2.24 K', 'EMI starts at ₹37.06 K',
       'EMI starts at ₹18.87 K', 'EMI starts at ₹42.20 K',
       'EMI starts at ₹4.37 K', 'EMI starts at ₹12.71 K',
       'EMI starts at ₹17.48 K', 'EMI starts at ₹54.61 K',
       'EMI starts at ₹14.59 K', 'EMI starts at ₹26.87 K',
       'EMI starts at ₹9.00 K', 'EMI starts at ₹1.32 Lacs',
       'EMI starts at ₹28.19 K', 'EMI starts at ₹10.72 K',
       'EMI starts at ₹5.30 K', 'EMI starts at ₹9.19 K',
       'EMI starts at ₹37.07 K', 'EMI starts at ₹34.42 K',
       'EMI starts at ₹45.18 K', 'EMI starts at ₹14.83 K',
       'EMI starts at ₹15.00 K', 'EMI starts at ₹29.64 K',
       'EMI starts at ₹29.66 K', 'EMI starts at ₹21.18 K',
       'EMI starts at ₹14.30 K', 'EMI starts at ₹32.36 K',
       'EMI starts at ₹7.84 K', 'EMI starts at ₹27.11 K',
       'EMI starts at ₹29.13 K', 'EMI starts at ₹2.16 Lacs',
       'EMI starts at ₹13.24 K', 'EMI starts at ₹7.15 K',
       'EMI starts at ₹28.60 K', 'EMI starts at ₹8.30 K',
       'EMI starts at ₹4.24 K', 'EMI starts at ₹23.83 K',
       'EMI starts at ₹13.98 K', 'EMI starts at ₹4.67 K',
       'EMI starts at ₹10.33 K', 'EMI starts at ₹25.42 K',
       'EMI starts at ₹15.12 K', 'EMI starts at ₹78.44 K',
       'EMI starts at ₹28.12 K', 'EMI starts at ₹21.35 K',
       'EMI starts at ₹45.73 K', 'EMI starts at ₹39.72 K',
       'EMI starts at ₹56.10 K', 'EMI starts at ₹74.47 K',
       'EMI starts at ₹79.43 K', 'EMI starts at ₹12.18 K',
       'EMI starts at ₹23.30 K', 'EMI starts at ₹1.84 Lacs',
       'EMI starts at ₹21.11 K', 'EMI starts at ₹78.06 K',
       'EMI starts at ₹23.03 K', 'EMI starts at ₹59.05 K',
       'EMI starts at ₹49.15 K', 'EMI starts at ₹70.37 K',
       'EMI starts at ₹57.09 K', 'EMI starts at ₹15.89 K',
       'EMI starts at ₹97.80 K', 'EMI starts at ₹5.48 K',
       'EMI starts at ₹13.77 K', 'EMI starts at ₹87.38 K',
       'EMI starts at ₹53.62 K', 'EMI starts at ₹48.65 K',
       'EMI starts at ₹2.85 Lacs', 'EMI starts at ₹1.11 Lacs',
       'EMI starts at ₹1.38 Lacs', nan, 'EMI starts at ₹17.47 K',
       'EMI starts at ₹1.13 Lacs', 'EMI starts at ₹2.48 Lacs',
       'EMI starts at ₹5.53 K', 'EMI starts at ₹69.50 K',
       'EMI starts at ₹35.34 K', 'EMI starts at ₹22.77 K',
       'EMI starts at ₹86.88 K', 'EMI starts at ₹5.56 K',
       'EMI starts at ₹43.79 K', 'EMI starts at ₹26.48 K',
       'EMI starts at ₹69.01 K', 'EMI starts at ₹13.11 K',
       'EMI starts at ₹45.30 K', 'EMI starts at ₹38.56 K',
       'EMI starts at ₹59.17 K', 'EMI starts at ₹35.26 K',
       'EMI starts at ₹39.92 K', 'EMI starts at ₹52.13 K',
       'EMI starts at ₹7.41 K', 'EMI starts at ₹4.25 K',
       'EMI starts at ₹24.59 K', 'EMI starts at ₹5.77 K',
       'EMI starts at ₹30.18 K', 'EMI starts at ₹14.56 K',
       'EMI starts at ₹29.79 K', 'EMI starts at ₹27.35 K',
       'EMI starts at ₹40.19 K', 'EMI starts at ₹39.71 K',
       'EMI starts at ₹39.09 K', 'EMI starts at ₹23.76 K',
       'EMI starts at ₹62.17 K', 'EMI starts at ₹15.28 K',
       'EMI starts at ₹18.53 K', 'EMI starts at ₹30.71 K',
       'EMI starts at ₹77.45 K', 'EMI starts at ₹22.62 K',
       'EMI starts at ₹42.70 K', 'EMI starts at ₹38.72 K',
       'EMI starts at ₹32.49 K', 'EMI starts at ₹12.92 K',
       'EMI starts at ₹24.76 K', 'EMI starts at ₹28.83 K',
       'EMI starts at ₹2.23 Lacs', 'EMI starts at ₹5.96 Lacs',
       'EMI starts at ₹37.78 K', 'EMI starts at ₹33.36 K',
       'EMI starts at ₹94.33 K', 'EMI starts at ₹41.21 K',
       'EMI starts at ₹67.02 K', 'EMI starts at ₹49.66 K',
       'EMI starts at ₹35.46 K', 'EMI starts at ₹38.54 K',
       'EMI starts at ₹63.05 K', 'EMI starts at ₹1.12 Lacs',
       'EMI starts at ₹62.06 K', 'EMI starts at ₹46.17 K',
       'EMI starts at ₹83.90 K', 'EMI starts at ₹76.95 K',
       'EMI starts at ₹1.29 Lacs', 'EMI starts at ₹39.56 K',
       'EMI starts at ₹60.08 K', 'EMI starts at ₹39.91 K',
       'EMI starts at ₹38.13 K', 'EMI starts at ₹1.14 Lacs',
       'EMI starts at ₹28.07 K', 'EMI starts at ₹47.16 K',
       'EMI starts at ₹2.98 Lacs', 'EMI starts at ₹42.07 K',
       'EMI starts at ₹24.89 K', 'EMI starts at ₹20.65 K',
       'EMI starts at ₹58.58 K', 'EMI starts at ₹33.89 K',
       'EMI starts at ₹34.95 K', 'EMI starts at ₹40.71 K',
       'EMI starts at ₹28.21 K', 'EMI starts at ₹4.77 K',
       'EMI starts at ₹45.62 K', 'EMI starts at ₹1.86 Lacs',
       'EMI starts at ₹51.14 K', 'EMI starts at ₹23.57 K',
       'EMI starts at ₹29.92 K', 'EMI starts at ₹22.43 K',
       'EMI starts at ₹21.79 K', 'EMI starts at ₹2.12 K',
       'EMI starts at ₹1.22 Lacs', 'EMI starts at ₹36.54 K',
       'EMI starts at ₹64.54 K', 'EMI starts at ₹19.59 K',
       'EMI starts at ₹58.09 K', 'EMI starts at ₹94.68 K',
       'EMI starts at ₹31.39 K', 'EMI starts at ₹39.19 K',
       'EMI starts at ₹43.69 K', 'EMI starts at ₹48.40 K',
       'EMI starts at ₹33.11 K', 'EMI starts at ₹42.94 K',
       'EMI starts at ₹1.59 Lacs', 'EMI starts at ₹44.19 K',
       'EMI starts at ₹30.85 K', 'EMI starts at ₹19.54 K',
       'EMI starts at ₹1.89 Lacs', 'EMI starts at ₹20.49 K',
       'EMI starts at ₹20.34 K', 'EMI starts at ₹35.48 K',
       'EMI starts at ₹10.54 K', 'EMI starts at ₹1.94 Lacs',
       'EMI starts at ₹27.54 K', 'EMI starts at ₹24.47 K',
       'EMI starts at ₹11.65 K', 'EMI starts at ₹2.73 Lacs',
       'EMI starts at ₹20.12 K', 'EMI starts at ₹25.28 K',
       'EMI starts at ₹33.75 K', 'EMI starts at ₹89.86 K',
       'EMI starts at ₹18.00 K', 'EMI starts at ₹16.05 K',
       'EMI starts at ₹1.09 Lacs', 'EMI starts at ₹6.88 K',
       'EMI starts at ₹6.62 K', 'EMI starts at ₹6.57 K',
       'EMI starts at ₹1.06 K', 'EMI starts at ₹34.82 K',
       'EMI starts at ₹37.96 K', 'EMI starts at ₹71.49 K',
       'EMI starts at ₹1.46 Lacs', 'EMI starts at ₹2.18 Lacs',
       'EMI starts at ₹22.51 K', 'EMI starts at ₹1.65 Lacs',
       'EMI starts at ₹2.09 Lacs', 'EMI starts at ₹5.83 K',
       'EMI starts at ₹28.86 K', 'EMI starts at ₹9.84 K',
       'EMI starts at ₹1.02 Lacs', 'EMI starts at ₹3.59 K',
       'EMI starts at ₹1.59 K', 'EMI starts at ₹63.30 K',
       'EMI starts at ₹24.62 K', 'EMI starts at ₹48.75 K',
       'EMI starts at ₹30.59 K', 'EMI starts at ₹95.02 K',
       'EMI starts at ₹49.84 K', 'EMI starts at ₹10.32 K',
       'EMI starts at ₹2.68 Lacs', 'EMI starts at ₹1.25 Lacs',
       'EMI starts at ₹88.99 K', 'EMI starts at ₹2.90 Lacs',
       'EMI starts at ₹54.11 K', 'EMI starts at ₹6.45 Lacs',
       'EMI starts at ₹1.85 K', 'EMI starts at ₹16.90 K',
       'EMI starts at ₹20.18 K', 'EMI starts at ₹17.42 K',
       'EMI starts at ₹34.09 K', 'EMI starts at ₹18.76 K',
       'EMI starts at ₹2.38 Lacs', 'EMI starts at ₹2.17 K',
       'EMI starts at ₹17.24 K', 'EMI starts at ₹26.37 K',
       'EMI starts at ₹16.98 K', 'EMI starts at ₹8.24 K',
       'EMI starts at ₹11.86 K', 'EMI starts at ₹6.41 K',
       'EMI starts at ₹38.91 K', 'EMI starts at ₹31.69 K',
       'EMI starts at ₹90.54 K', 'EMI starts at ₹1.04 Lacs',
       'EMI starts at ₹20.93 K', 'EMI starts at ₹16.52 K',
       'EMI starts at ₹2.70 K', 'EMI starts at ₹37.73 K',
       'EMI starts at ₹30.50 K', 'EMI starts at ₹19.46 K',
       'EMI starts at ₹16.94 K', 'EMI starts at ₹34.21 K',
       'EMI starts at ₹66.53 K', 'EMI starts at ₹23.23 K',
       'EMI starts at ₹16.09 K', 'EMI starts at ₹54.81 K',
       'EMI starts at ₹29.39 K', 'EMI starts at ₹12.82 K',
       'EMI starts at ₹953', 'EMI starts at ₹9.69 K',
       'EMI starts at ₹6.35 K', 'EMI starts at ₹23.37 K',
       'EMI starts at ₹5.46 Lacs', 'EMI starts at ₹3.84 K',
       'EMI starts at ₹31.24 K', 'EMI starts at ₹56.44 K',
       'EMI starts at ₹34.76 K', 'EMI starts at ₹17.76 K',
       'EMI starts at ₹9.59 K', 'EMI starts at ₹53.12 K',
       'EMI starts at ₹1.99 Lacs', 'EMI starts at ₹32.57 K',
       'EMI starts at ₹23.35 K', 'EMI starts at ₹1.44 Lacs',
       'EMI starts at ₹76.55 K', 'EMI starts at ₹3.92 Lacs',
       'EMI starts at ₹19.86 K', 'EMI starts at ₹2.36 Lacs',
       'EMI starts at ₹1.37 Lacs', 'EMI starts at ₹63.55 K',
       'EMI starts at ₹5.21 K', 'EMI starts at ₹22.29 K',
       'EMI starts at ₹23.83 Lacs', 'EMI starts at ₹13.48 K',
       'EMI starts at ₹17.75 K', 'EMI starts at ₹10.17 K',
       'EMI starts at ₹3.97 Lacs', 'EMI starts at ₹10.06 K',
       'EMI starts at ₹37.57 K', 'EMI starts at ₹38.12 K',
       'EMI starts at ₹16.42 K', 'EMI starts at ₹11.72 K',
       'EMI starts at ₹5.59 K', 'EMI starts at ₹3.23 Lacs',
       'EMI starts at ₹24.15 K', 'EMI starts at ₹33.20 K',
       'EMI starts at ₹64.04 K', 'EMI starts at ₹17.21 K',
       'EMI starts at ₹85.39 K', 'EMI starts at ₹3.57 K',
       'EMI starts at ₹7.72 K', 'EMI starts at ₹73.85 K',
       'EMI starts at ₹19.16 K', 'EMI starts at ₹22.15 K',
       'EMI starts at ₹1.79 Lacs', 'EMI starts at ₹39.30 K',
       'EMI starts at ₹25.15 K', 'EMI starts at ₹13.40 K',
       'EMI starts at ₹64.94 K', 'EMI starts at ₹2.65 K',
       'EMI starts at ₹1.19 Lacs', 'EMI starts at ₹1.34 Lacs',
       'EMI starts at ₹61.06 K', 'EMI starts at ₹22.50 K',
       'EMI starts at ₹27.65 K', 'EMI starts at ₹6.95 Lacs',
       'EMI starts at ₹8.34 K', 'EMI starts at ₹5.24 Lacs',
       'EMI starts at ₹48.90 K', 'EMI starts at ₹9.61 K',
       'EMI starts at ₹15.36 K', 'EMI starts at ₹1.92 K',
       'EMI starts at ₹21.01 K', 'EMI starts at ₹1.07 Lacs',
       'EMI starts at ₹61.81 K', 'EMI starts at ₹32.04 K',
       'EMI starts at ₹27.33 K', 'EMI starts at ₹18.03 K',
       'EMI starts at ₹38.60 K', 'EMI starts at ₹38.26 K',
       'EMI starts at ₹29.87 K', 'EMI starts at ₹3.72 Lacs',
       'EMI starts at ₹42.63 K', 'EMI starts at ₹35.08 K',
       'EMI starts at ₹27.04 K', 'EMI starts at ₹23.07 K',
       'EMI starts at ₹32.79 K', 'EMI starts at ₹1.61 Lacs',
       'EMI starts at ₹29.45 K', 'EMI starts at ₹25.00 K',
       'EMI starts at ₹7.62 K', 'EMI starts at ₹5.66 K',
       'EMI starts at ₹2.46 Lacs', 'EMI starts at ₹5.01 K',
       'EMI starts at ₹10.60 K', 'EMI starts at ₹65.33 K',
       'EMI starts at ₹6.43 K', 'EMI starts at ₹14.22 K',
       'EMI starts at ₹8.94 Lacs', 'EMI starts at ₹14.34 Lacs',
       'EMI starts at ₹10.92 Lacs', 'EMI starts at ₹8.44 Lacs',
       'EMI starts at ₹14.89 Lacs', 'EMI starts at ₹7.45 Lacs',
       'EMI starts at ₹6.83 Lacs', 'EMI starts at ₹13.00 K',
       'EMI starts at ₹91.85 K', 'EMI starts at ₹26.06 Lacs',
       'EMI starts at ₹11.31 K', 'EMI starts at ₹3.93 K',
       'EMI starts at ₹30.73 K', 'EMI starts at ₹22.30 K',
       'EMI starts at ₹33.54 K', 'EMI starts at ₹46.95 K',
       'EMI starts at ₹28.59 K', 'EMI starts at ₹41.93 K',
       'EMI starts at ₹46.92 K', 'EMI starts at ₹65.53 K',
       'EMI starts at ₹27.45 K', 'EMI starts at ₹33.86 K',
       'EMI starts at ₹8.94 K', 'EMI starts at ₹32.99 K',
       'EMI starts at ₹10.61 K', 'EMI starts at ₹36.56 K',
       'EMI starts at ₹31.67 K', 'EMI starts at ₹19.80 K',
       'EMI starts at ₹68.51 K', 'EMI starts at ₹40.31 K',
       'EMI starts at ₹70.82 K', 'EMI starts at ₹38.97 K',
       'EMI starts at ₹18.79 K', 'EMI starts at ₹13.27 K',
       'EMI starts at ₹21.98 K', 'EMI starts at ₹32.03 K',
       'EMI starts at ₹28.55 K', 'EMI starts at ₹14.95 K',
       'EMI starts at ₹12.96 K', 'EMI starts at ₹19.78 K',
       'EMI starts at ₹17.69 K', 'EMI starts at ₹37.53 K',
       'EMI starts at ₹96.81 K', 'EMI starts at ₹65.04 K',
       'EMI starts at ₹20.39 K', 'EMI starts at ₹70.00 K',
       'EMI starts at ₹53.05 K', 'EMI starts at ₹57.05 K',
       'EMI starts at ₹63.70 K', 'EMI starts at ₹35.93 K',
       'EMI starts at ₹31.58 K', 'EMI starts at ₹27.96 K',
       'EMI starts at ₹28.84 K', 'EMI starts at ₹20.72 K',
       'EMI starts at ₹29.23 K', 'EMI starts at ₹45.67 K',
       'EMI starts at ₹3.71 K', 'EMI starts at ₹38.66 K',
       'EMI starts at ₹35.22 K', 'EMI starts at ₹86.25 K',
       'EMI starts at ₹16.15 K', 'EMI starts at ₹13.90 K',
       'EMI starts at ₹57.86 K', 'EMI starts at ₹32.17 K',
       'EMI starts at ₹18.64 K', 'EMI starts at ₹42.09 K',
       'EMI starts at ₹11.64 K', 'EMI starts at ₹32.87 K',
       'EMI starts at ₹9.73 K', 'EMI starts at ₹74.13 K',
       'EMI starts at ₹7.96 K', 'EMI starts at ₹19.45 K',
       'EMI starts at ₹35.62 K', 'EMI starts at ₹63.90 K',
       'EMI starts at ₹38.57 K', 'EMI starts at ₹87.46 K',
       'EMI starts at ₹3.96 K', 'EMI starts at ₹31.14 K',
       'EMI starts at ₹37.23 K', 'EMI starts at ₹43.91 K',
       'EMI starts at ₹1.27 Lacs', 'EMI starts at ₹39.39 K',
       'EMI starts at ₹50.07 K', 'EMI starts at ₹43.49 K',
       'EMI starts at ₹34.16 K', 'EMI starts at ₹19.18 K',
       'EMI starts at ₹44.15 K', 'EMI starts at ₹22.69 K',
       'EMI starts at ₹42.14 K', 'EMI starts at ₹36.41 K',
       'EMI starts at ₹23.45 K', 'EMI starts at ₹7.69 K',
       'EMI starts at ₹39.61 K', 'EMI starts at ₹28.98 K',
       'EMI starts at ₹33.04 K', 'EMI starts at ₹50.40 K',
       'EMI starts at ₹24.57 K', 'EMI starts at ₹66.35 K',
       'EMI starts at ₹37.24 K', 'EMI starts at ₹29.05 K',
       'EMI starts at ₹79.93 K', 'EMI starts at ₹36.80 K',
       'EMI starts at ₹58.70 K', 'EMI starts at ₹62.55 K',
       'EMI starts at ₹78.73 K', 'EMI starts at ₹3.44 K',
       'EMI starts at ₹24.37 K', 'EMI starts at ₹2.59 Lacs',
       'EMI starts at ₹12.56 K', 'EMI starts at ₹41.20 K',
       'EMI starts at ₹45.05 K', 'EMI starts at ₹5.64 K',
       'EMI starts at ₹49.06 K', 'EMI starts at ₹1.96 Lacs',
       'EMI starts at ₹40.98 K', 'EMI starts at ₹59.34 K',
       'EMI starts at ₹38.58 K', 'EMI starts at ₹21.07 K',
       'EMI starts at ₹35.81 K', 'EMI starts at ₹1.03 Lacs',
       'EMI starts at ₹43.88 K', 'EMI starts at ₹82.15 K',
       'EMI starts at ₹43.34 K', 'EMI starts at ₹48.55 K',
       'EMI starts at ₹25.63 K', 'EMI starts at ₹97.65 K',
       'EMI starts at ₹22.32 K', 'EMI starts at ₹49.18 K',
       'EMI starts at ₹33.16 K', 'EMI starts at ₹3.22 Lacs',
       'EMI starts at ₹24.88 K', 'EMI starts at ₹32.90 K',
       'EMI starts at ₹31.74 K', 'EMI starts at ₹30.17 K',
       'EMI starts at ₹37.16 K', 'EMI starts at ₹41.39 K',
       'EMI starts at ₹47.94 K', 'EMI starts at ₹13.46 K',
       'EMI starts at ₹37.79 K', 'EMI starts at ₹27.32 K',
       'EMI starts at ₹34.72 K', 'EMI starts at ₹69.36 K',
       'EMI starts at ₹96.11 K', 'EMI starts at ₹66.78 K',
       'EMI starts at ₹38.76 K', 'EMI starts at ₹2.61 Lacs',
       'EMI starts at ₹4.47 Lacs', 'EMI starts at ₹38.02 K',
       'EMI starts at ₹32.66 K', 'EMI starts at ₹31.42 K',
       'EMI starts at ₹50.04 K', 'EMI starts at ₹81.21 K',
       'EMI starts at ₹32.94 K', 'EMI starts at ₹18.27 K',
       'EMI starts at ₹27.17 K', 'EMI starts at ₹55.94 K',
       'EMI starts at ₹40.93 K', 'EMI starts at ₹28.46 K',
       'EMI starts at ₹51.82 K', 'EMI starts at ₹2.91 K',
       'EMI starts at ₹89.14 K', 'EMI starts at ₹98.05 K',
       'EMI starts at ₹68.41 K', 'EMI starts at ₹32.62 K',
       'EMI starts at ₹61.88 K', 'EMI starts at ₹36.33 K',
       'EMI starts at ₹53.97 K', 'EMI starts at ₹57.68 K',
       'EMI starts at ₹29.22 K', 'EMI starts at ₹43.36 K',
       'EMI starts at ₹2.33 Lacs', 'EMI starts at ₹5.38 K',
       'EMI starts at ₹37.33 K', 'EMI starts at ₹38.93 K',
       'EMI starts at ₹2.88 K', 'EMI starts at ₹48.16 K',
       'EMI starts at ₹19.49 K', 'EMI starts at ₹1.47 Lacs',
       'EMI starts at ₹39.52 K', 'EMI starts at ₹28.72 K',
       'EMI starts at ₹27.40 K', 'EMI starts at ₹7.20 Lacs',
       'EMI starts at ₹22.45 K', 'EMI starts at ₹32.41 K',
       'EMI starts at ₹13.50 K', 'EMI starts at ₹1.41 Lacs',
       'EMI starts at ₹98.30 K', 'EMI starts at ₹60.21 K',
       'EMI starts at ₹29.28 K', 'EMI starts at ₹42.35 K',
       'EMI starts at ₹49.20 K', 'EMI starts at ₹56.05 K',
       'EMI starts at ₹47.30 K', 'EMI starts at ₹59.38 K',
       'EMI starts at ₹15.67 K', 'EMI starts at ₹11.92 K',
       'EMI starts at ₹89.39 K', 'EMI starts at ₹62.11 K',
       'EMI starts at ₹67.47 K', 'EMI starts at ₹52.42 K',
       'EMI starts at ₹32.89 K', 'EMI starts at ₹40.21 K',
       'EMI starts at ₹25.16 K', 'EMI starts at ₹51.63 K',
       'EMI starts at ₹31.90 K', 'EMI starts at ₹15.62 K',
       'EMI starts at ₹4.16 K', 'EMI starts at ₹60.57 K',
       'EMI starts at ₹70.25 K', 'EMI starts at ₹54.86 K',
       'EMI starts at ₹50.73 K', 'EMI starts at ₹42.12 K',
       'EMI starts at ₹14.16 K', 'EMI starts at ₹28.02 K',
       'EMI starts at ₹38.79 K', 'EMI starts at ₹50.64 K',
       'EMI starts at ₹54.83 K', 'EMI starts at ₹65.12 K',
       'EMI starts at ₹66.58 K', 'EMI starts at ₹70.56 K',
       'EMI starts at ₹66.24 K', 'EMI starts at ₹40.34 K',
       'EMI starts at ₹8.84 K', 'EMI starts at ₹39.32 K',
       'EMI starts at ₹65.65 K', 'EMI starts at ₹44.43 K',
       'EMI starts at ₹42.60 K', 'EMI starts at ₹35.36 K',
       'EMI starts at ₹35.89 K', 'EMI starts at ₹29.35 K',
       'EMI starts at ₹49.80 K', 'EMI starts at ₹8.74 K',
       'EMI starts at ₹70.50 K', 'EMI starts at ₹26.73 K',
       'EMI starts at ₹56.22 K', 'EMI starts at ₹45.02 K',
       'EMI starts at ₹46.47 K', 'EMI starts at ₹11.50 K',
       'EMI starts at ₹45.46 K', 'EMI starts at ₹38.01 K',
       'EMI starts at ₹23.04 K', 'EMI starts at ₹11.05 K',
       'EMI starts at ₹19.01 K', 'EMI starts at ₹21.13 K',
       'EMI starts at ₹12.70 K', 'EMI starts at ₹9.48 K',
       'EMI starts at ₹6.25 K', 'EMI starts at ₹20.28 K',
       'EMI starts at ₹17.79 K', 'EMI starts at ₹20.07 K',
       'EMI starts at ₹20.68 K', 'EMI starts at ₹6.61 K',
       'EMI starts at ₹10.49 K', 'EMI starts at ₹27.80 K',
       'EMI starts at ₹19.90 K', 'EMI starts at ₹7.43 K',
       'EMI starts at ₹36.70 K', 'EMI starts at ₹34.47 K',

In [14]:
housing['price']

0       ₹26.49 L - 42.49 L
1       ₹6.65 Cr - 7.25 Cr
2       ₹36.01 L - 52.51 L
3       ₹1.24 Cr - 1.28 Cr
4       ₹20.59 L - 47.54 L
               ...
1661               ₹69.3 L
1662              ₹61.03 L
1663               ₹52.5 L
1664               ₹57.5 L
1665              ₹49.94 L
Name: price, Length: 1666, dtype: object

In [15]:
re2=re.compile(r'\d\d.\d\d')
re2.findall(housing['price'][0])

['26.49', '42.49']

In [16]:
min_price = []
max_price = []
for i in housing['price']:
    if type(i)!=float:
        min_price.append(re2.findall(i[0]))
    elif:
        max_price.append(re2.findall(i[1]))
    elif:
        min_price.append("NA")
    else:
        max_price.append("NA")

SyntaxError: invalid syntax (<ipython-input-16-a878f6d558cf>, line 6)

In [18]:
k=pd.DataFrame(list(housing['price'].str.split()))

In [19]:
k

           0   1     2      3     4
0     ₹26.49   L     -  42.49     L
1      ₹6.65  Cr     -   7.25    Cr
2     ₹36.01   L     -  52.51     L
3      ₹1.24  Cr     -   1.28    Cr
4     ₹20.59   L     -  47.54     L
...      ...  ..   ...    ...   ...
1661   ₹69.3   L  None   None  None
1662  ₹61.03   L  None   None  None
1663   ₹52.5   L  None   None  None
1664   ₹57.5   L  None   None  None
1665  ₹49.94   L  None   None  None

[1666 rows x 5 columns]

In [20]:
minm=[]
for i in range(len(k)):
    if k[1][i]=='L':
        minm.append(float(k[0][i].replace('₹','')))
    elif k[1][i]=='Cr':
        minm.append(float(k[0][i].replace('₹',''))*100)
len(minm)

1662

In [21]:
maxm=[]
for i in range(len(k)):
    if k[4][i]=='L':
        maxm.append(float(k[3][i].replace('₹','')))
    elif k[4][i]=='Cr':
        maxm.append(float(k[3][i].replace('₹',''))*100)
len(maxm)

185

In [22]:
p = pd.DataFrame(list(housing['Avg'].str.split()))
p

               0           1         2            3           4        5     6
0     Possession  StartsOct,      2021         None        None     None  None
1     Possession  StartsDec,  2023Avg.  Price₹14.00     K/sq.ft     None  None
2     Possession  StartsOct,  2022Avg.  Price₹15.00     K/sq.yd     None  None
3     Possession  StartsJun,  2023Avg.   Price₹5.80     K/sq.ft     None  None
4     Possession  StartsJul,  2022Avg.  Price₹13.99     K/sq.yd     None  None
...          ...         ...       ...          ...         ...      ...   ...
1661       Build          Up  Area1650    sq.ftAvg.  Price₹4.20  K/sq.ft  None
1662       Build          Up  Area1650    sq.ftAvg.  Price₹3.70  K/sq.ft  None
1663       Build          Up  Area1250    sq.ftAvg.  Price₹4.20  K/sq.ft  None
1664       Build          Up  Area1150    sq.ftAvg.  Price₹5.00  K/sq.ft  None
1665       Build          Up  Area1350    sq.ftAvg.  Price₹3.70  K/sq.ft  None

[1666 rows x 7 columns]

In [23]:
housing['Avg'][1000]

'Possession StatusReady to MoveAvg. Price₹14.50 K/sq.yd'

In [24]:
housing['possession_date'].value_counts()

Ready to Move    42
1800 sq.ft       41
1350 sq.ft       37
1200 sq.ft       35
200 sq.yd        35
                 ..
1460 sq.ft        1
795 sq.yd         1
1708 sq.ft        1
1768 sq.ft        1
953 sq.ft         1
Name: possession_date, Length: 590, dtype: int64

In [25]:
len(housing["possession_date"])

1666

In [26]:
housing['venture']

0       Provident Manhattan Pods And Condos
1                 Giridhari Prospera County
2                        Aspirealty Advaith
3                        Om Sree Brilliance
4                              Sree Nivasam
                       ...
1661                                    NaN
1662                                    NaN
1663                                    NaN
1664                                    NaN
1665                                    NaN
Name: venture, Length: 1666, dtype: object

In [27]:
re3=re.compile(r'₹\d+.\d.')
re3.findall(housing['Avg'][0])

[]

In [28]:
housing['Avg']

0                              Possession StartsOct, 2021
1       Possession StartsDec, 2023Avg. Price₹14.00 K/s...
2       Possession StartsOct, 2022Avg. Price₹15.00 K/s...
3       Possession StartsJun, 2023Avg. Price₹5.80 K/sq.ft
4       Possession StartsJul, 2022Avg. Price₹13.99 K/s...
                              ...
1661       Build Up Area1650 sq.ftAvg. Price₹4.20 K/sq.ft
1662       Build Up Area1650 sq.ftAvg. Price₹3.70 K/sq.ft
1663       Build Up Area1250 sq.ftAvg. Price₹4.20 K/sq.ft
1664       Build Up Area1150 sq.ftAvg. Price₹5.00 K/sq.ft
1665       Build Up Area1350 sq.ftAvg. Price₹3.70 K/sq.ft
Name: Avg, Length: 1666, dtype: object

In [170]:
housing

,Unnamed: 0,venture,price,Emi,marketed,location,no_beds,possession_date,Avg
0,0,Provident Manhattan Pods And Condos,₹26.49 L - 42.49 L,EMI starts at ₹14.03 K,By Provident Housing Limited,"Premavathi Pet,West Hyderabad,Hyderabad","1 RK, 1 BHK Flats for sale in Premavathi Pet","Oct, 2021","Possession StartsOct, 2021"
1,1,Giridhari Prospera County,₹6.65 Cr - 7.25 Cr,EMI starts at ₹3.30 Lacs,By Giridhari Constructions,"Kismatpur,West Hyderabad,Hyderabad","4 BHK Villa, Triplex for sale in Kismatpur","Dec, 2023","Possession StartsDec, 2023Avg. Price₹14.00 K/s..."
2,2,Aspirealty Advaith,₹36.01 L - 52.51 L,EMI starts at ₹19.07 K,By Aspirealty,"Lemoor,South Hyderabad,Hyderabad",Residential Plots for sale in Lemoor,"Oct, 2022","Possession StartsOct, 2022Avg. Price₹15.00 K/s..."
3,3,Om Sree Brilliance,₹1.24 Cr - 1.28 Cr,EMI starts at ₹61.33 K,By Om Sree Builders And Developers,"Sainikpuri, Hyderabad",3 BHK Flat for sale in Yapral,"Jun, 2023","Possession StartsJun, 2023Avg. Price₹5.80 K/sq.ft"
4,4,Sree Nivasam,₹20.59 L - 47.54 L,EMI starts at ₹10.90 K,Marketed by Kautilya homes,"Piglipur,South Hyderabad,Hyderabad",Residential Plots for sale in Piglipur,"Jul, 2022","Possession StartsJul, 2022Avg. Price₹13.99 K/s..."
...,...,...,...,...,...,...,...,...,...
1661,1661,NaN,₹69.3 L,EMI starts at ₹36.70 K,NaN,"trilok sunshine property,Serilingampally, Hyde...",NaN,1650 sq.ft,Build Up Area1650 sq.ftAvg. Price₹4.20 K/sq.ft
1662,1662,NaN,₹61.03 L,EMI starts at ₹32.32 K,NaN,"Trilok sunshine property,Kollur, Hyderabad",NaN,1650 sq.ft,Build Up Area1650 sq.ftAvg. Price₹3.70 K/sq.ft
1663,1663,NaN,₹52.5 L,EMI starts at ₹27.80 K,NaN,"THRILOK SUNSHINE PROJECT,Velimela, Hyderabad",NaN,1250 sq.ft,Build Up Area1250 sq.ftAvg. Price₹4.20 K/sq.ft
1664,1664,NaN,₹57.5 L,EMI starts at ₹30.45 K,NaN,"SAMHIT PROJECTS,Laxmi Nagar, Kondapur,Hyderabad",NaN,1150 sq.ft,Build Up Area1150 sq.ftAvg. Price₹5.00 K/sq.ft
1665,1665,NaN,₹49.94 L,EMI starts at ₹26.44 K,NaN,"TRILOK SUNSHINE PROJECTS,Pati, Hyderabad",NaN,1350 sq.ft,Build Up Area1350 sq.ftAvg. Price₹3.70 K/sq.ft

In [29]:
l = pd.DataFrame(list(housing['location'].str.split()))
l

,0,1,2,3,4,5,6,7,8,9,10
0,Premavathi,"Pet,West","Hyderabad,Hyderabad",None,None,None,None,None,None,None,None
1,"Kismatpur,West","Hyderabad,Hyderabad",None,None,None,None,None,None,None,None,None
2,"Lemoor,South","Hyderabad,Hyderabad",None,None,None,None,None,None,None,None,None
3,"Sainikpuri,",Hyderabad,None,None,None,None,None,None,None,None,None
4,"Piglipur,South","Hyderabad,Hyderabad",None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
1661,trilok,sunshine,"property,Serilingampally,",Hyderabad,None,None,None,None,None,None,None
1662,Trilok,sunshine,"property,Kollur,",Hyderabad,None,None,None,None,None,None,None
1663,THRILOK,SUNSHINE,"PROJECT,Velimela,",Hyderabad,None,None,None,None,None,None,None
1664,SAMHIT,"PROJECTS,Laxmi","Nagar,","Kondapur,Hyderabad",None,None,None,None,None,None,None
1665,TRILOK,SUNSHINE,"PROJECTS,Pati,",Hyderabad,None,None,None,None,None,None,None

In [30]:
location_2 = l[0]

In [31]:
location_2

0           Premavathi
1       Kismatpur,West
2         Lemoor,South
3          Sainikpuri,
4       Piglipur,South
             ...
1661            trilok
1662            Trilok
1663           THRILOK
1664            SAMHIT
1665            TRILOK
Name: 0, Length: 1666, dtype: object

In [32]:
len(housing['location'])

1666

In [33]:
re2=re.compile(r'.*for sale')
re2.findall(housing['no_beds'][0])

['1 RK, 1 BHK Flats for sale']

In [42]:
b = pd.DataFrame(list(housing['no_beds'].str.split()))
housing['no_beds']

TypeError: object of type 'float' has no len()

In [35]:
h=0
for i in df['location']:
    if type(i)==float:
        h+=1

NameError: name 'df' is not defined

In [53]:
b = list(housing['no_beds'].str.split())
b[589]

nan

In [55]:
housing.tail()

,Unnamed: 0,venture,price,Emi,marketed,location,no_beds,possession_date,Avg
1661,1661,NaN,₹69.3 L,EMI starts at ₹36.70 K,NaN,"trilok sunshine property,Serilingampally, Hyde...",NaN,1650 sq.ft,Build Up Area1650 sq.ftAvg. Price₹4.20 K/sq.ft
1662,1662,NaN,₹61.03 L,EMI starts at ₹32.32 K,NaN,"Trilok sunshine property,Kollur, Hyderabad",NaN,1650 sq.ft,Build Up Area1650 sq.ftAvg. Price₹3.70 K/sq.ft
1663,1663,NaN,₹52.5 L,EMI starts at ₹27.80 K,NaN,"THRILOK SUNSHINE PROJECT,Velimela, Hyderabad",NaN,1250 sq.ft,Build Up Area1250 sq.ftAvg. Price₹4.20 K/sq.ft
1664,1664,NaN,₹57.5 L,EMI starts at ₹30.45 K,NaN,"SAMHIT PROJECTS,Laxmi Nagar, Kondapur,Hyderabad",NaN,1150 sq.ft,Build Up Area1150 sq.ftAvg. Price₹5.00 K/sq.ft
1665,1665,NaN,₹49.94 L,EMI starts at ₹26.44 K,NaN,"TRILOK SUNSHINE PROJECTS,Pati, Hyderabad",NaN,1350 sq.ft,Build Up Area1350 sq.ftAvg. Price₹3.70 K/sq.ft

In [56]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1666 entries, 0 to 1665
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1666 non-null   int64
 1   venture          207 non-null    object
 2   price            1666 non-null   object
 3   Emi              1662 non-null   object
 4   marketed         207 non-null    object
 5   location         1666 non-null   object
 6   no_beds          207 non-null    object
 7   possession_date  1666 non-null   object
 8   Avg              1666 non-null   object
dtypes: int64(1), object(8)
memory usage: 117.3+ KB

In [61]:
housing['venture'].value_counts()

RNG Supra Avenue                    2
Urbanrise The Happening Heights     1
DRR s Happy Residency               1
ELV 55 East Fort                    1
IRA M3                              1
                                   ..
Swathi Sree Shankarpalli Hill II    1
GSR Sri Meru                        1
Pragati Islands                     1
2 Getherments KSRs Togetherments    1
Trishala Saffron Sanathan           1
Name: venture, Length: 206, dtype: int64

In [63]:
housing['marketed'].value_counts()

By  Sark Projects India Pvt Ltd      9
Marketed by  THE RESIDENTIALLY       8
By  Riddhi Group                     6
By  Hallmark Builders                5
By  Praneeth Group                   5
                                    ..
By  Signature Avenues                1
Marketed by  Alekhya Naidu           1
Marketed by  SAI SURYA DEVELOPERS    1
Marketed by  Urban Yards LLP         1
By  Mahaveer Group                   1
Name: marketed, Length: 145, dtype: int64

In [65]:
list(housing['possession_date'])

['Oct, 2021',
 'Dec, 2023',
 'Oct, 2022',
 'Jun, 2023',
 'Jul, 2022',
 'Jul, 2023',
 'Ready to Move',
 'Dec, 2024',
 'Dec, 2023',
 'Aug, 2024',
 'Dec, 2024',
 'Mar, 2023',
 'Mar, 2023',
 'Jun, 2023',
 'Dec, 2023',
 'Mar, 2023',
 'Dec, 2024',
 'Oct, 2024',
 'Nov, 2024',
 'Nov, 2023',
 'Jun, 2024',
 'Jun, 2026',
 'Mar, 2022',
 'Dec, 2023',
 'Ready to Move',
 'Ready to Move',
 'Dec, 2024',
 'Dec, 2023',
 'Dec, 2023',
 'Dec, 2024',
 'Dec, 2022',
 'Dec, 2022',
 'Sep, 2022',
 'Under Construction',
 'Nov, 2021',
 'Sep, 2025',
 '222 sq.yd',
 '683 sq.yd',
 '1687 sq.ft',
 '1040 sq.ft',
 '2380 sq.ft',
 '1345 sq.ft',
 '5700 sq.ft',
 '160 sq.yd',
 '1360 sq.yd',
 '1280 sq.ft',
 '1415 sq.ft',
 '1323 sq.ft',
 '1200 sq.ft',
 '1150 sq.ft',
 '1366 sq.ft',
 '1485 sq.ft',
 '2500 sq.ft',
 '200 sq.yd',
 '1175 sq.ft',
 '2484 sq.ft',
 'May, 2025',
 'Jun, 2022',
 'Dec, 2023',
 '1833 sq.ft',
 '6000 sq.ft',
 '1500 sq.ft',
 '2400 sq.ft',
 '996 sq.ft',
 '3400 sq.ft',
 '1300 sq.ft',
 '1400 sq.ft',
 '1560 sq.ft',
 '1800 sq.yd',
 '2160 sq.ft',
 '1500 sq.ft',
 '1145 sq.ft',
 'Nov, 2024',
 'Apr, 2027',
 'Jun, 2025',
 'Ready to Move',
 '1800 sq.ft',
 '1604 sq.ft',
 '1089 sq.ft',
 '3300 sq.ft',
 '1290 sq.ft',
 '950 sq.ft',
 '1350 sq.ft',
 '2000 sq.ft',
 '2640 sq.ft',
 '200 sq.yd',
 '1000 sq.yd',
 '1503 sq.ft',
 '1450 sq.ft',
 'Apr, 2022',
 'Ready to Move',
 'Dec, 2023',
 'Jun, 2027',
 'Ready to Move',
 'Ready to Move',
 '2400 sq.ft',
 '1265 sq.ft',
 '1350 sq.ft',
 '1155 sq.ft',
 '1872 sq.ft',
 '1580 sq.ft',
 '150 sq.yd',
 '220 sq.yd',
 '1800 sq.ft',
 '1500 sq.yd',
 '1155 sq.ft',
 '6300 sq.ft',
 '1000 sq.ft',
 'Ready to Move',
 'Jul, 2024',
 'Ready to Move',
 'Ready to Move',
 'Dec, 2024',
 '12500 sq.ft',
 '1000 sq.ft',
 '3600 sq.ft',
 '1025 sq.ft',
 '165 sq.ft',
 '147 sq.yd',
 '1000 sq.ft',
 '165 sq.yd',
 '165 sq.yd',
 '1370 sq.ft',
 '150 sq.yd',
 '1020 sq.ft',
 '4000 sq.ft',
 'Ready to Move',
 'Ready to Move',
 '2250 sq.ft',
 'Under Construction',
 'May, 2023',
 'Mar, 2023',
 'Jun, 2023',
 '1650 sq.ft',
 '3600 sq.ft',
 '1200 sq.ft',
 '3000 sq.ft',
 '1780 sq.ft',
 '3564 sq.ft',
 '2925 sq.ft',
 '1850 sq.ft',
 '1140 sq.ft',
 '1100 sq.ft',
 '171 sq.ft',
 '1800 sq.ft',
 '3426 sq.ft',
 '1800 sq.ft',
 'Mar, 2023',
 'Mar, 2022',
 'Ready to Move',
 'Mar, 2023',
 'Oct, 2022',
 'Jul, 2022',
 '180 sq.yd',
 '2040 sq.ft',
 '1541 sq.ft',
 '5000 sq.yd',
 '3000 sq.ft',
 '1155 sq.ft',
 '1350 sq.ft',
 '1795 sq.ft',
 '1825 sq.ft',
 '2220 sq.ft',
 '1800 sq.ft',
 '1874 sq.ft',
 '1100 sq.ft',
 '3888 sq.ft',
 'Jan, 2022',
 'Dec, 2015',
 'Nov, 2024',
 'Jun, 2026',
 'Jan, 2022',
 'Jan, 2023',
 '6000 sq.ft',
 '5000 sq.ft',
 '1100 sq.ft',
 '1800 sq.ft',
 '160 sq.yd',
 '1010 sq.ft',
 '1420 sq.ft',
 '1130 sq.ft',
 '2005 sq.ft',
 '150 sq.yd',
 '2400 sq.ft',
 '1890 sq.ft',
 '200 sq.yd',
 '2184 sq.ft',
 'Ready to Move',
 'Dec, 2025',
 'Dec, 2023',
 'Dec, 2023',
 'Mar, 2026',
 'Jun, 2023',
 '2184 sq.ft',
 '2200 sq.ft',
 '1200 sq.ft',
 '1800 sq.ft',
 '1319 sq.ft',
 '1476 sq.ft',
 '1100 sq.ft',
 '1080 sq.ft',
 '242 sq.yd',
 '200 sq.yd',
 '1330 sq.ft',
 '1100 sq.ft',
 '450 sq.yd',
 '1500 sq.ft',
 'Jun, 2024',
 'Jun, 2022',
 'Nov, 2022',
 'Dec, 2022',
 'Jun, 2024',
 'Jan, 2027',
 '1998 sq.ft',
 '1217 sq.ft',
 '2225 sq.ft',
 '1233 sq.ft',
 '1300 sq.ft',
 '2600 sq.ft',
 '3000 sq.ft',
 '2403 sq.ft',
 '2100 sq.ft',
 '900 sq.ft',
 '1800 sq.yd',
 '1064 sq.ft',
 '1800 sq.ft',
 '1200 sq.ft',
 'Sep, 2022',
 'Dec, 2021',
 'Sep, 2023',
 'Mar, 2022',
 'Dec, 2025',
 '1215 sq.ft',
 '4225 sq.ft',
 '1080 sq.ft',
 '5400 sq.ft',
 '2100 sq.ft',
 '1595 sq.ft',
 '1600 sq.ft',
 '1900 sq.ft',
 '5400 sq.ft',
 '1135 sq.ft',
 '1575 sq.ft',
 '2175 sq.ft',
 '1100 sq.ft',
 '1100 sq.ft',
 'Jan, 2024',
 'May, 2025',
 'Ready to Move',
 '1655 sq.ft',
 '836 sq.ft',
 '1495 sq.ft',
 '4650 sq.ft',
 '1050 sq.ft',
 '2200 sq.ft',
 '1020 sq.ft',
 '860 sq.ft',
 '1000 sq.ft',
 '1254 sq.ft',
 '1015 sq.ft',
 '1450 sq.ft',
 '1600 sq.ft',
 '1950 sq.ft',
 '2080 sq.ft',
 '3900 sq.ft',
 '1080 sq.ft',
 '2265 sq.ft',
 '1250 sq.ft',
 '1750 sq.ft',
 'Ready to Move',
 'Ready to Move in',
 'Ready to Move',
 '1150 sq.ft',
 '1027 sq.ft',
 '1400 sq.ft',
 '1270 sq.ft',
 '2400 sq.ft',
 '2100 sq.ft',
 '2395 sq.ft',
 '1110 sq.ft',
 '1575 sq.ft',
 '955 sq.ft',
 '1670 sq.ft',
 '1850 sq.ft',
 '965 sq.ft',
 '4500 sq.ft',
 '560 sq.ft',
 '1020 sq.ft',
 '1695 sq.ft',
 'Nov, 2023',
 'Dec, 2022',
 '1200 sq.ft',
 '1557 sq.ft',
 '1000 sq.ft',
 '1150 sq.ft',
 '1479 sq.ft',
 '2000 sq.ft',
 '1040 sq.ft',
 '267 sq.yd',
 '1299 sq.ft',
 '200 sq.ft',
 '1600 sq.ft',
 '1197 sq.ft',
 '1200 sq.ft',
 '1150 sq.ft',
 '2808 sq.ft',
 '1000 sq.ft',
 '150 sq.yd',
 '1475 sq.ft',
 '1150 sq.ft',
 '1158 sq.ft',
 '150 sq.yd',
 '1000 sq.ft',
 '1465 sq.ft',
 '1350 sq.ft',
 '1100 sq.ft',
 '1600 sq.ft',
 '4000 sq.ft',
 '1410 sq.ft',
 '1836 sq.ft',
 '1540 sq.ft',
 '3000 sq.ft',
 '1160 sq.ft',
 '500 sq.ft',
 '995 sq.ft',
 '1210 sq.ft',
 '1210 sq.ft',
 '1850 sq.ft',
 '2687 sq.ft',
 '1540 sq.ft',
 '900 sq.yd',
 '3600 sq.ft',
 '1509 sq.ft',
 '1600 sq.ft',
 '1135 sq.ft',
 '1260 sq.ft',
 '1050 sq.ft',
 '1900 sq.ft',
 '1650 sq.ft',
 '3000 sq.ft',
 '800 sq.ft',
 '2700 sq.ft',
 '1250 sq.ft',
 '755 sq.ft',
 '1900 sq.ft',
 '1170 sq.ft',
 '891 sq.ft',
 '2650 sq.ft',
 '2700 sq.ft',
 '2500 sq.ft',
 '2414 sq.ft',
 '1160 sq.ft',
 '1200 sq.ft',
 '4840 sq.yd',
 '1438 sq.ft',
 '2100 sq.ft',
 '718 sq.ft',
 '1275 sq.ft',
 '1240 sq.ft',
 '1330 sq.ft',
 '1300 sq.ft',
 '2500 sq.ft',
 '1800 sq.ft',
 '1000 sq.ft',
 '1800 sq.ft',
 '974 sq.ft',
 '775 sq.ft',
 '1191 sq.ft',
 '1099 sq.ft',
 '1105 sq.ft',
 '2700 sq.ft',
 '1260 sq.ft',
 '1366 sq.ft',
 '735 sq.ft',
 '1227 sq.ft',
 '1600 sq.ft',
 '1470 sq.ft',
 '2100 sq.ft',
 '1620 sq.ft',
 '700 sq.ft',
 '4200 sq.ft',
 '2500 sq.ft',
 '1010 sq.ft',
 '1000 sq.ft',
 '875 sq.ft',
 '1275 sq.ft',
 '3700 sq.ft',
 '1170 sq.ft',
 '1290 sq.ft',
 '167 sq.yd',
 '1320 sq.ft',
 '2500 sq.ft',
 '1000 sq.ft',
 '3500 sq.ft',
 '1400 sq.ft',
 '2500 sq.ft',
 '1000 sq.ft',
 '760 sq.ft',
 '2400 sq.ft',
 '1630 sq.ft',
 '3099 sq.ft',
 '3556 sq.ft',
 '1315 sq.ft',
 '1250 sq.ft',
 '726 sq.yd',
 '1650 sq.ft',
 '165 sq.yd',
 '600 sq.yd',
 '1530 sq.ft',
 '200 sq.yd',
 '1200 sq.ft',
 '200 sq.yd',
 '200 sq.ft',
 '1449 sq.ft',
 '1280 sq.ft',
 '4070 sq.ft',
 '400 sq.ft',
 '2160 sq.ft',
 '900 sq.ft',
 '1110 sq.ft',
 '2800 sq.ft',
 '1275 sq.ft',
 '150 sq.yd',
 '1600 sq.ft',
 '1380 sq.ft',
 '1460 sq.ft',
 '3284 sq.ft',
 '3240 sq.ft',
 '1100 sq.yd',
 '1818 sq.ft',
 '1500 sq.ft',
 '2265 sq.ft',
 '1030 sq.ft',
 '1600 sq.ft',
 '1548 sq.ft',
 '4840 sq.yd',
 '200 sq.yd',
 '2800 sq.ft',
 '1000 sq.yd',
 '1320 sq.ft',
 '2700 sq.ft',
 '150 sq.yd',
 '3600 sq.ft',
 '200 sq.yd',
 '1200 sq.ft',
 '1485 sq.yd',
 '1210 sq.ft',
 '2599 sq.ft',
 '1485 sq.ft',
 '5400 sq.ft',
 '1500 sq.ft',
 '1000 sq.ft',
 '1000 sq.ft',
 '1275 sq.ft',
 '1200 sq.ft',
 '1800 sq.yd',
 '1287 sq.ft',
 '2000 sq.ft',
 '303 sq.yd',
 '265 sq.yd',
 '1280 sq.ft',
 '1535 sq.ft',
 '1150 sq.ft',
 '1800 sq.ft',
 '1215 sq.ft',
 '1253 sq.ft',
 '1986 sq.ft',
 '1050 sq.ft',
 '795 sq.yd',
 '900 sq.yd',
 '2395 sq.ft',
 '1614 sq.ft',
 '12500 sq.ft',
 '5000 sq.ft',
 '1200 sq.ft',
 '2700 sq.ft',
 '1801 sq.ft',
 '2500 sq.ft',
 '1500 sq.ft',
 '1701 sq.ft',
 '3625 sq.ft',
 '1125 sq.ft',
 '10000 sq.ft',
 '1150 sq.ft',
 '200 sq.yd',
 '1566 sq.ft',
 '650 sq.ft',
 '1125 sq.ft',
 '150 sq.ft',
 '1670 sq.yd',
 '1800 sq.ft',
 '1362 sq.ft',
 '436 sq.ft',
 '1800 sq.ft',
 '2700 sq.ft',
 '1287 sq.ft',
 '1110 sq.ft',
 '4000 sq.ft',
 '5600 sq.ft',
 '1580 sq.ft',
 '2178 sq.ft',
 '605 sq.yd',
 '150 sq.yd',
 '1690 sq.ft',
 '800 sq.ft',
 '1500 sq.ft',
 '300 sq.yd',
 '2600 sq.ft',
 '1638 sq.ft',
 '1120 sq.ft',
 '2552 sq.ft',
 '1350 sq.ft',
 '2008 sq.ft',
 '200 sq.yd',
 '1500 sq.ft',
 '1254 sq.ft',
 '2700 sq.ft',
 '1350 sq.ft',
 '1050 sq.ft',
 '2400 sq.ft',
 '2787 sq.ft',
 '1215 sq.ft',
 '2500 sq.ft',
 '1090 sq.ft',
 '3380 sq.ft',
 '2390 sq.ft',
 '650 sq.yd',
 '1823 sq.ft',
 '3000 sq.ft',
 '1160 sq.ft',
 '200 sq.yd',
 '6000 sq.ft',
 '1575 sq.ft',
 '1089 sq.ft',
 '1155 sq.ft',
 '2500 sq.ft',
 '1140 sq.ft',
 '953 sq.ft',
 '180 sq.yd',
 '1147 sq.ft',
 '1250 sq.ft',
 '1575 sq.ft',
 '1140 sq.ft',
 '1110 sq.ft',
 '1000 sq.ft',
 '1265 sq.ft',
 '400 sq.yd',
 '1300 sq.ft',
 '980 sq.ft',
 '600 sq.ft',
 '121 sq.yd',
 '150 sq.yd',
 '1503 sq.ft',
 '1265 sq.ft',
 '199 sq.yd',
 '1245 sq.ft',
 '363 sq.yd',
 '2580 sq.ft',
 '1140 sq.ft',
 '750 sq.ft',
 '1725 sq.ft',
 '1700 sq.ft',
 '1145 sq.ft',
 '1100 sq.ft',
 '1400 sq.ft',
 '1100 sq.ft',
 '605 sq.yd',
 '955 sq.ft',
 '2200 sq.ft',
 '4480 sq.yd',
 '2450 sq.ft',
 '1800 sq.ft',
 '1145 sq.ft',
 '2600 sq.ft',
 '1045 sq.ft',
 '850 sq.ft',
 '1100 sq.ft',
 '1800 sq.ft',
 '2100 sq.ft',
 '2965 sq.ft',
 '3200 sq.ft',
 '1145 sq.ft',
 '1350 sq.ft',
 '850 sq.ft',
 '3800 sq.ft',
 '1040 sq.ft',
 '2340 sq.ft',
 '606 sq.yd',
 '1650 sq.ft',
 '960 sq.ft',
 '2300 sq.ft',
 '1285 sq.ft',
 '1050 sq.ft',
 '200 sq.yd',
 '1800 sq.ft',
 '1200 sq.ft',
 '4000 sq.ft',
 '1700 sq.ft',
 '2800 sq.ft',
 '1285 sq.ft',
 '1125 sq.ft',
 '1215 sq.ft',
 '1145 sq.ft',
 '1560 sq.ft',
 '1450 sq.ft',
 '1470 sq.ft',
 '1145 sq.ft',
 '3930 sq.ft',
 '1814 sq.ft',
 '1140 sq.ft',
 '2300 sq.ft',
 '1000 sq.ft',
 '1889 sq.ft',
 '1650 sq.ft',
 '1100 sq.ft',
 '1875 sq.ft',
 '1140 sq.ft',
 '1100 sq.ft',
 '121 sq.yd',
 '957 sq.ft',
 '1140 sq.ft',
 '183 sq.yd',
 '1125 sq.ft',
 '600 sq.ft',
 '1695 sq.ft',
 '2310 sq.ft',
 '1226 sq.ft',
 '1100 sq.ft',
 '1505 sq.ft',
 '1225 sq.ft',
 '1800 sq.ft',
 '1230 sq.ft',
 '4770 sq.ft',
 '1285 sq.ft',
 '1700 sq.ft',
 '242 sq.ft',
 '1200 sq.ft',
 '1323 sq.ft',
 '1140 sq.ft',
 '1793 sq.ft',
 '1800 sq.ft',
 '1508 sq.yd',
 '2550 sq.ft',
 '1287 sq.ft',
 '1872 sq.ft',
 '1454 sq.ft',
 '151 sq.yd',
 '200 sq.ft',
 '1254 sq.ft',
 '2430 sq.ft',
 '1500 sq.ft',
 '2403 sq.ft',
 '1250 sq.ft',
 '300 sq.yd',
 '1168 sq.ft',
 '1600 sq.ft',
 '3315 sq.ft',
 '1090 sq.ft',
 '1025 sq.ft',
 '1050 sq.ft',
 '1575 sq.ft',
 '3255 sq.ft',
 '257 sq.yd',
 '1300 sq.ft',
 '4000 sq.ft',
 '1700 sq.ft',
 '750 sq.ft',
 '150 sq.yd',
 '1202 sq.ft',
 '200 sq.yd',
 '900 sq.ft',
 '5500 sq.ft',
 '1700 sq.ft',
 '2400 sq.ft',
 '1350 sq.ft',
 '1050 sq.ft',
 '1275 sq.ft',
 '1140 sq.ft',
 '2000 sq.ft',
 '1365 sq.ft',
 '130 sq.yd',
 '6000 sq.ft',
 '990 sq.ft',
 '1150 sq.ft',
 '1800 sq.ft',
 '1535 sq.ft',
 '1150 sq.ft',
 '1050 sq.ft',
 '1250 sq.ft',
 '1140 sq.ft',
 '1600 sq.ft',
 '147 sq.yd',
 '1350 sq.ft',
 '1080 sq.ft',
 '1140 sq.ft',
 '180 sq.yd',
 '940 sq.ft',
 '167 sq.yd',
 '1742 sq.ft',
 '1212 sq.ft',
 '1500 sq.ft',
 '1040 sq.ft',
 '1175 sq.ft',
 '1834 sq.ft',
 '4840 sq.yd',
 '2150 sq.ft',
 '2600 sq.ft',
 '1020 sq.ft',
 '1382 sq.ft',
 '1200 sq.ft',
 '1200 sq.ft',
 '1500 sq.ft',
 '1140 sq.ft',
 '8000 sq.ft',
 '1319 sq.ft',
 '3600 sq.ft',
 '1150 sq.ft',
 '1475 sq.ft',
 '1290 sq.ft',
 '7000 sq.ft',
 '1200 sq.ft',
 '2600 sq.ft',
 '1800 sq.ft',
 '1900 sq.ft',
 '2400 sq.ft',
 '1850 sq.ft',
 '1100 sq.ft',
 '950 sq.ft',
 '1473 sq.ft',
 '1644 sq.ft',
 '1016 sq.ft',
 '1060 sq.ft',
 '1040 sq.ft',
 '2500 sq.ft',
 '3100 sq.ft',
 '1120 sq.ft',
 '1240 sq.ft',
 '3000 sq.ft',
 '900 sq.ft',
 '1225 sq.ft',
 '1000 sq.ft',
 '1115 sq.ft',
 '370 sq.ft',
 '2800 sq.ft',
 '177 sq.yd',
 '1200 sq.ft',
 '1050 sq.ft',
 '1640 sq.ft',
 '1440 sq.ft',
 '2200 sq.ft',
 '1418 sq.ft',
 '970 sq.ft',
 '1535 sq.ft',
 '1350 sq.ft',
 '1145 sq.ft',
 '1708 sq.ft',
 '1328 sq.ft',
 '1000 sq.ft',
 '1570 sq.ft',
 '1140 sq.ft',
 '14000 sq.ft',
 '2400 sq.ft',
 '1040 sq.ft',
 '2052 sq.ft',
 '1100 sq.ft',
 '1612 sq.ft',
 '1084 sq.ft',
 '1100 sq.ft',
 '1470 sq.ft',
 '1350 sq.ft',
 '1140 sq.ft',
 '1400 sq.ft',
 '1305 sq.ft',
 '1035 sq.ft',
 '592 sq.ft',
 '1180 sq.ft',
 '2200 sq.ft',
 '2347 sq.ft',
 '1053 sq.ft',
 '2750 sq.ft',
 '1025 sq.ft',
 '1200 sq.ft',
 '2250 sq.ft',
 '1501 sq.ft',
 '3000 sq.ft',
 '1350 sq.ft',
 '1950 sq.ft',
 '1600 sq.ft',
 '4500 sq.ft',
 '1314 sq.ft',
 '150 sq.yd',
 '1200 sq.ft',
 '3000 sq.ft',
 '2500 sq.ft',
 '1070 sq.ft',
 '1051 sq.ft',
 '1050 sq.ft',
 '1070 sq.ft',
 '900 sq.ft',
 '1359 sq.ft',
 '201 sq.yd',
 '1100 sq.ft',
 '1040 sq.ft',
 '1839 sq.ft',
 '1230 sq.ft',
 '1194 sq.ft',
 '200 sq.yd',
 '1020 sq.ft',
 '1100 sq.ft',
 '1200 sq.ft',
 '1500 sq.ft',
 '1197 sq.ft',
 '1168 sq.ft',
 '4050 sq.ft',
 '1500 sq.ft',
 '1100 sq.ft',
 '1800 sq.ft',
 '1200 sq.ft',
 '4000 sq.ft',
 '1050 sq.ft',
 '546 sq.ft',
 '1025 sq.ft',
 '1895 sq.ft',
 '2000 sq.ft',
 '3100 sq.ft',
 '2310 sq.ft',
 '1600 sq.ft',
 '1680 sq.ft',
 '1900 sq.ft',
 '1450 sq.ft',
 '1050 sq.ft',
 '1715 sq.ft',
 '1150 sq.ft',
 '950 sq.ft',
 '1030 sq.ft',
 '4500 sq.ft',
 '1500 sq.ft',
 '1560 sq.ft',
 '1800 sq.ft',
 '4000 sq.ft',
 '1240 sq.ft',
 '121 sq.yd',
 '1350 sq.ft',
 '1800 sq.ft',
 '842 sq.ft',
 '3536 sq.ft',
 '2400 sq.ft',
 '2400 sq.ft',
 '1745 sq.ft',
 '2800 sq.ft',
 '250 sq.yd',
 '1600 sq.ft',
 '1200 sq.ft',
 '1056 sq.ft',
 '1075 sq.ft',
 '2800 sq.ft',
 '1350 sq.ft',
 '1505 sq.ft',
 '2259 sq.ft',
 '2400 sq.ft',
 '1150 sq.ft',
 '2700 sq.ft',
 '2600 sq.ft',
 '1135 sq.ft',
 '751 sq.ft',
 '522 sq.ft',
 '1250 sq.ft',
 '1100 sq.ft',
 '3400 sq.ft',
 '1200 sq.ft',
 '1650 sq.ft',
 '1600 sq.ft',
 '2299 sq.ft',
 '1600 sq.ft',
 '1100 sq.ft',
 '3300 sq.ft',
 '1350 sq.mt',
 '1300 sq.ft',
 '2644 sq.yd',
 '2848 sq.ft',
 '1750 sq.ft',
 '1620 sq.ft',
 '1650 sq.ft',
 '1160 sq.ft',
 '1700 sq.ft',
 '250 sq.yd',
 '985 sq.ft',
 '1485 sq.ft',
 '994 sq.ft',
 '1160 sq.ft',
 '1500 sq.ft',
 '1240 sq.ft',
 '1300 sq.ft',
 '2094 sq.ft',
 '1235 sq.ft',
 '850 sq.ft',
 '2300 sq.ft',
 '1190 sq.ft',
 '2250 sq.ft',
 '1005 sq.ft',
 '1202 sq.ft',
 '1575 sq.ft',
 '1600 sq.ft',
 '1200 sq.ft',
 '1773 sq.ft',
 '2400 sq.ft',
 '2700 sq.ft',
 '3100 sq.ft',
 '900 sq.ft',
 '1150 sq.ft',
 '1161 sq.ft',
 '1099 sq.ft',
 '1200 sq.ft',
 '975 sq.ft',
 '720 sq.ft',
 '1742 sq.ft',
 '1200 sq.ft',
 '1665 sq.ft',
 '1030 sq.ft',
 '1100 sq.ft',
 '1135 sq.ft',
 '1160 sq.ft',
 '1230 sq.ft',
 '1825 sq.ft',
 '1400 sq.ft',
 '1135 sq.ft',
 '1300 sq.ft',
 '1700 sq.ft',
 '1215 sq.ft',
 '1204 sq.ft',
 '1200 sq.ft',
 '4227 sq.ft',
 '1200 sq.ft',
 '1237 sq.ft',
 '1827 sq.ft',
 '1440 sq.ft',
 '1110 sq.ft',
 '1210 sq.ft',
 '1720 sq.ft',
 '4500 sq.ft',
 '2418 sq.ft',
 '2848 sq.ft',
 '1236 sq.ft',
 '1049 sq.ft',
 '1049 sq.ft',
 '400 sq.yd',
 '363 sq.yd',
 '200 sq.yd',
 '1440 sq.ft',
 '1485 sq.ft',
 '3975 sq.ft',
 '1485 sq.ft',
 '3895 sq.ft',
 '1285 sq.ft',
 '3190 sq.ft',
 '1500 sq.ft',
 '2595 sq.ft',
 '1800 sq.ft',
 '1800 sq.ft',
 '2400 sq.ft',
 '4230 sq.ft',
 '2680 sq.ft',
 '150 sq.yd',
 '150 sq.yd',
 '2300 sq.ft',
 '5500 sq.ft',
 '1050 sq.yd',
 '10000 sq.ft',
 '7500 sq.ft',
 '5600 sq.ft',
 '2500 sq.ft',
 '1050 sq.yd',
 '5500 sq.ft',
 '500 sq.yd',
 '1677 sq.yd',
 '1690 sq.ft',
 '1500 sq.yd',
 '1100 sq.ft',
 '3267 sq.ft',
 '2400 sq.ft',
 '1660 sq.ft',
 '150 sq.yd',
 '1223 sq.ft',
 '1010 sq.ft',
 '1800 sq.ft',
 'Under Construction',
 'Ready to Move',
 'Aug, 2027',
 'Jul, 2024',
 'Mar, 2022',
 'Dec, 2022',
 'Mar, 2024',
 'Ready to Move',
 'Ready to Move',
 '1520 sq.ft',
 '1520 sq.ft',
 '1800 sq.ft',
 '1905 sq.ft',
 '1905 sq.ft',
 '3350 sq.ft',
 ...]